<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bayer.bayerreward">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".Utility.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">

        <!-- <meta-data -->
        <!-- android:name="asset_statements" -->
        <!-- android:resource="@string/asset_statements" /> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBM7hXgoejSIXc7Y9KwXKsxbH0lc_gKNEo" />

        <activity
            android:name="com.bayer.bayerreward.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="com.bayer.bayerreward.Activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayer.bayerreward.Activity.MainActivity" />
        </activity>
        <activity
            android:name="com.bayer.bayerreward.Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayer.bayerreward.Activity.MainActivity" />
        </activity>
        <activity
            android:name="com.bayer.bayerreward.Activity.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PostViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.VideoViewActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.ImageViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.SpeakerDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.AttendeeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.AgendaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.EventInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayer.bayerreward.Activity.HomeActivity" />
        </activity>
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PdfViewerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.DocumentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.MyTravelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QRGeneratorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QRScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.GalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.LivePollActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PollDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QuizActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.QuizDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QAAttendeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QASpeakerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.EngagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.GalleryFirstLevelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.VideoFirstLevelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SelfieContestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.VideoContestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SelfieUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.VideoContestUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SwappingGalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SwappingSelfieActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.CustomTools.DocumentViewerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.AgendaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SpeakerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.EventChooserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PostEditActivityOld"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.AttendeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bayer.bayerreward.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.bayer.bayerreward.gcm.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.bayer.bayerreward.gcm.MyFirebaseInstanceIDService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Goolge API Key -->
        <!--<meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />-->
        <activity
            android:name="com.bayer.bayerreward.Activity.TimeWeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.CurrencyConverter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.InitGeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.GeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.SelfieContentActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.LikeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.ExoVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.EULAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PrivacyPolicy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.EmptyViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Utility.ImageCropActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.QADirectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.AgendaVacationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.FolderQuizActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.InnerDrawerActivity.WeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.SelfiePost"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.PostEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bayer.bayerreward.Activity.ViewPDFActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.bayer.bayerreward.InnerDrawerActivity.QuizNewActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.AnswersActivity" />
        <activity android:name="com.bayer.bayerreward.InnerDrawerActivity.YourScoreActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.PostActivityVideo" />
        <activity
            android:name="com.bayer.bayerreward.Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <tools:validation testUrl="http://procialize.info/resetPassword.html" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="procialize.info"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bayer.bayerreward.Activity.EmptyView2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver android:name="com.bayer.bayerreward.Session.UninstallIntentReceiver">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name="com.bayer.bayerreward.Activity.SuveyDetailActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.SignupSignInActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.SignupBayerActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.ThankyouSignup" />
        <activity android:name="com.bayer.bayerreward.Activity.SignInActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.AboutBayerActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.AccountHistoryActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.CatlogActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.SchemeOfferActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.MpointCalc" />
        <activity android:name="com.bayer.bayerreward.Activity.SchemeDetailActivity" />
        <activity android:name="com.bayer.bayerreward.Activity.ReportActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name="com.bayer.bayerreward.Activity.RecordingActivity" />
        <activity android:name="com.bayer.bayerreward.InnerDrawerActivity.TermsandCondition" />
        <activity android:name="com.bayer.bayerreward.Fragments.BuisnessUnitFragment"></activity>
    </application>

</manifest>