<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.procialize.eventsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.procialize.eventsapp.Utility.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBM7hXgoejSIXc7Y9KwXKsxbH0lc_gKNEo" />

        <activity
            android:name="com.procialize.eventsapp.Activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.SplashActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.procialize.eventsapp.Activity.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.MainActivity" />
        </activity>
        <activity
            android:name="com.procialize.eventsapp.Activity.SignUpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.MainActivity" />
        </activity>
        <activity
            android:name="com.procialize.eventsapp.Activity.CommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PostViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.VideoViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.procialize.eventsapp.Activity.ImageViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.SpeakerDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.AttendeeDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.procialize.eventsapp.Activity.AgendaDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.EventInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.HomeActivity" />
        </activity>
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.FeedBackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PdfViewerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.DocumentsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.MyTravelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QRGeneratorActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QRScanActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.NotificationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.GalleryActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.VideoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.LivePollActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PollDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QuizActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.QuizDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QAAttendeeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QASpeakerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.EngagementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.GalleryFirstLevelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.VideoFirstLevelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SelfieContestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.VideoContestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SelfieUploadActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.VideoContestUploadActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SwappingGalleryActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SwappingSelfieActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.CustomTools.DocumentViewerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.AgendaActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SpeakerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.EventChooserActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PostEditActivityOld"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.Activity.WebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.AttendeeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.procialize.eventsapp.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.procialize.eventsapp.gcm.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.procialize.eventsapp.gcm.MyFirebaseInstanceIDService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Goolge API Key -->

        <activity
            android:name="com.procialize.eventsapp.Activity.TimeWeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.CurrencyConverter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.InitGeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.GeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.SelfieContentActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.LikeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.ExoVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.EULAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PrivacyPolicy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.EmptyViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Utility.ImageCropActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.QADirectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.AgendaVacationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.FolderQuizActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.InnerDrawerActivity.WeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.SelfiePost"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.PostEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.ViewPDFActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.procialize.eventsapp.Activity.EmptyView2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>